.gitignore
PrintDayInWord/.classpath
PrintDayInWord/.project
PrintDayInWord/.settings/
Average3Numbers/.classpath
Average3Numbers/.project
Average3Numbers/.settings/
TestSumofNumInArray/.classpath
TestSumofNumInArray/.project
TestSumofNumInArray/.settings/